<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Capmo_Case_Study" parallel="none" thread-count="2">
	<test name="Capmo">
		<classes>
			<class name="com.capmo.swaglab.main.Checkout">
				<methods>
					<include name="bookItemEnd2End" />
					<include name="validateFilterOrder" />
				</methods>
			</class>
		<!-- 	<class name="com.capmo.swaglab.main.SmokeTest">
				<methods>
					<include name="validateFilterOrder" />
				</methods>
			</class> -->
		</classes>
	</test>
</suite> 